html, body {
    margin: 0;
    padding-top: 60px;
}

.header {
    background-color: #f7ba62;
    height: 110px;
    font-family: serif;
    color: #3B5452;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header h1 {
    text-align: center;
    padding: 15px;
}

#logo {
    height: 110px;
    align-self: left;
    position: fixed;
    top: 0;
    z-index: 99;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #A1BEB9;
    padding: 8px;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #3B5452;
    font-size: 20px;
}

#nav li a:hover {
    color: #f1f5f5;
}

#banner {
    width: auto;
    height: 200px;
    position: relative;
}

div {
    display: block;
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
    opacity: 50%;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3B5452;
    color: #f1f5f5;
    padding: 20px, 24px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

.container .btn:hover {
    background-color: #A1BEB9;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    position: relative;
    padding: 50px;
    margin: auto;
    width: 50%;
}

.about p {
    display: inline;
}

.about h1 {
    text-align: center;
}
