html, body {
    margin: 0;
    padding-top: 60px;
    background-color: #f1f5f5;
}

.header {
    background-color: #f7ba62;
    height: 110px;
    font-family: serif;
    color: #3B5452;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header h1 {
    text-align: center;
    padding: 15px;
}

#logo {
    height: 110px;
    align-self: left;
    position: fixed;
    top: 0;
    z-index: 99;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #A1BEB9;
    padding: 8px;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #3B5452;
    font-size: 20px;
}

#nav li a:hover {
    color: #f1f5f5;
}

div {
    display: block;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    opacity: 50%;
}

.banner p {
    font-size: 2.5vw;
    color: #3B5452;
    background-color: #A1BEB9;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3B5452;
    color: #f1f5f5;
    padding: 20px, 24px;
    border: none;
    border-radius: 5px;
    font-size: 2vw;
}

.banner .btn:hover {
    background-color: #A1BEB9;
}

.about {
    position: relative;
    padding: 50px;
    margin: auto;
    width: 50%;
    background-color: #A1BEB9;
    border-radius: 15px;
    text-align: center;
}

.about p {
    display: inline;
    font-size: 24px;
    font-family: sans-serif;
    color: #3B5452;
}

.about h1 {
    text-align: center;
}

.about img {
    width: 70%;
}

.services {
    margin-right: auto;
    margin-left: auto;
    border-spacing: 70px;
    width: 75%;
    height: 25%;
}

.services td{
    background-color: #DA735B;
    padding: 90px;
    border-radius: 20px;
    width: 33%;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
}

.services a {
    color: #f1f5f5;
}

.services a:hover {
    color: #f7ba62;
}

#footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: sans-serif;
    background-color: #3B5452;
    padding: 8px;
}

#footer li {
    display: inline;
}

#footer li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #A1BEB9;
    font-size: 16px;
}

#footer li a:hover {
    color: #f1f5f5;
}

@media only screen and (max-width:600px) {
    #logo {
        display: none;
    }
}

.contact {
    position: relative;
    margin: auto;
    padding: 50px;
    display: block;
}

.contact img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.services-grid {
    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: #f1f5f5;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-top: 50px;
  }
  
.grid-item {
    background-color: #DA735B;
    border: 2px solid #A1BEB9;
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color: #f1f5f5;
}

.grid-item:hover {
    color: #f7ba62;
}
